{# We make it like this because we need to vertical align the images on different sizes #}
{# The CSS for this fix is defined in light_slider.scss #}
{# The documentation for this comes from here: https://github.com/sachinchoolur/lightslider/issues/9 #}
<li data-thumb="{{ s3Url ~ sliderGalleryImage|displayImageNameFromJson(50) }}" {# smaller image in the list #}
    data-src="{{ s3Url ~ sliderGalleryImage|displayImageNameFromJson(650) }}"
    data-sub-html="{% if caption is defined %}{{ caption }}{% endif %}"
> {# middle image 650 #}
    <figure>
        <div class="thumb">
            {# largest image size #}
            <img class="ib" src='{{ s3Url ~ sliderGalleryImage|displayImageNameFromJson(1024) }}' alt=""/>
            <span class="v-align ib"></span>
        </div>
    </figure>
</li>
