<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>{{ 'site.default.title'|trans }}</title>
    <style>
        h1, h2, h3, h4 {
            font-family: "Roboto";
            color:       #3a7fba;
        }

        p, div {
            font-family: "Roboto";
            color:       #42464f;
            font-size:   16px;
        }
    </style>

</head>

<body style="font-family: 'Arial,sans-serif';">

{% include '@App/MailTemplates/_partials/html/_header.html.twig' with {'baseUrl': baseUrl} %}

<div style="padding: 0 20px 20px 20px">
    {% block body %}{{ emailContent|raw }}{% endblock %}
</div>

{% include '@App/MailTemplates/_partials/html/_footer.html.twig' with {'baseUrl': baseUrl} %}

</body>
</html>
