{% include '@App/MailTemplates/_partials/text/_header.html.twig' with {'baseUrl': baseUrl } %}

{% block body %}{{ emailContent|raw }}{% endblock %}

{% include '@App/MailTemplates/_partials/text/_footer.html.twig' with {'baseUrl': baseUrl} %}
