<div style="color:#6d717a; background-color: #f8f8f8; padding: 20px; margin-top:25px">

    &copy; {{ "now"|date("Y") }}, {{ app_defaults.company_name }} <br/>
    {{ app_defaults.company_address }} <br/>

    <a href="https://{{ baseUrl ~ path('doctors_contact_us_form') }}">
        {{ 'doctors.contact.us'|trans }}
    </a>

    <hr />

    <a href="https://{{ baseUrl ~ path('doctors_email_settings_overview') }}">
        {{ 'site.emails.manage.receiving.settings'|trans }}
    </a>
</div>
