<div style="margin: 30px 0 15px 0;">
    <a href="https://{{ baseUrl ~ path('doctors_feeds') }}">
        <img style="max-height: 2.813rem" src="https://{{ baseUrl ~ asset('bundles/doctors/images/logo.png') }}" alt="" />
    </a><br/>
</div>
