{% embed ':layout:_modal.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4 class="_f-underlined">{{ modalTitle|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ modalContent|trans }}
    {% endblock %}
{% endembed %}
