{% embed ':layout:_modal_content.html.twig' %}

    {% block modal_title %}
        <h4>{{ 'doctors.default.ajax.error.title'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.default.ajax.error.content'|trans }}
    {% endblock %}

{% endembed %}
