{% embed ':layout:_modal_content.html.twig' %}

    {% block modal_title %}
        <h4>{{ 'doctors.login.required'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.login.required.description'|trans }}
    {% endblock %}

    {% block modal_ok %}
        <a href="{{ path('doctors_login') }}" class="_f-fr-all _f-button-blue _f-m-r-5">
            {{ 'doctors.login.required.button'|trans }}
        </a>
    {% endblock %}
{% endembed %}
