{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'admin.resumes.education.diploma.type.delete'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'admin.resumes.education.diploma.type.delete.confirmation'|trans }}
    {% endblock %}

{% endembed %}
