{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'default.message.are.you.sure'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'default.message.are.you.sure'|trans }}
    {% endblock %}
{% endembed %}
