{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'doctors.comments.are.you.sure.to.delete.title'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.comments.are.you.sure.to.delete.message'|trans }}
    {% endblock %}
{% endembed %}
