{% embed ':layout:_modal_layout.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'doctors.messenger.delete.conversation.messages.modal.title'|trans }}</h4>
    {% endblock %}
{% endembed %}
