{% embed ':layout:_modal_content.html.twig' %}

    {% block modal_title %}
        <h4>{{ 'validation.documents.uploaded'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'validation.documents.uploaded'|trans }}
    {% endblock %}
{% endembed %}
