{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'doctors.feeds.delete.from.feed.modal.title'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.feeds.delete.from.feed.modal.content'|trans }}
    {% endblock %}
{% endembed %}
