{% embed ':layout:_modal_content.html.twig'%}

    {% block modal_title %}
        <h4>{{ 'default.message.action.required'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        <a class="close-reveal-modal" aria-label="{{ 'admin.button.close'|trans }}">&#215;</a>

        <p>
        {{ 'doctors.messenger.leave.notice.title'|trans }}
        </p>

    {% endblock %}

{% endembed %}
