{% embed ':layout:_modal_content.html.twig' %}

    {% block modal_title %}
        <h2>{{ 'doctors.medical.cases.create'|trans }}</h2>
    {% endblock %}

    {% block modal_content %}

        {{ aFaqData.description|textUrlPlaceholderParser|raw }}

        <div class="actions">
            <div class="_f-fr-all">
                <a class="_f-button-blue" href="{{ path('doctors_medical_cases_create') }}">
                    {{ 'doctors.medical.cases.create'|trans }}
                </a>
            </div>
        </div>
    {% endblock %}

    {% block modal_ok %}{% endblock %}
{% endembed %}
