{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'doctors.photo.cover.photo'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.photo.cover.photo.confirmation'|trans }}
    {% endblock %}
{% endembed %}
