{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'doctors.medical.cases.publish.medical.case.title'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ aFaqData.description|textUrlPlaceholderParser|raw }}
    {% endblock %}
{% endembed %}
