{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'doctors.resume.delete.section.entry.confirm'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.resume.delete.section.entry.content'|trans }}
    {% endblock %}

{% endembed %}
