{% embed ':layout:_modal_content.html.twig' with {'confirmation': true} %}

    {% block modal_title %}
        <h4>{{ 'doctors.resume.synchronize.confirm'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.resume.synchronize.confirm.content'|trans }}
    {% endblock %}
{% endembed %}
