{% embed ':layout:_modal_content.html.twig' %}

    {% block modal_title %}
        <h4>{{ 'doctors.feeds.shared.on.your.newsfeed.title'|trans }}</h4>
    {% endblock %}

    {% block modal_content %}
        {{ 'doctors.feeds.shared.on.your.newsfeed.content'|trans }}
    {% endblock %}
{% endembed %}
