<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h2 class="_f-underlined _f-align-center _f-p-b-10">Edit doctor location</h2>
        <div id="_f-form-body">
            {{ form_start(form, {'attr': {'action': path('ajax_process_user_location_form', {'type': app.request.get('type'), 'identifier': app.request.get('identifier')}), 'class': 'ajaxForm'}}) }}
            <div class="panel radius">
                <div class="row">

                    <div class="small-12 medium-6 large-6 columns">
                        <select style="width: 100%"
                                id="select_{{ form.country.vars.id }}"
                                data-single-entry=true
                                onload="FlendocSelect2.buildSelect2AjaxAndUpdateChildIdPlaceholder(this, '{{ form.country.vars.id }}', '{{ form.city.vars.id }}')"
                                onchange="FlendocSelect2.updateChildUrlIdPlaceholder('{{ form.country.vars.id }}', '{{ form.city.vars.id }}')"
                                data-placeholder="{% if userProfileDetails is not empty %}{{ userProfileDetails.countryName }}{% else %}{{ 'doctors.search.country'|trans }}{% endif %}"
                                data-url="{{ path('ajax_find_country') }}">
                        </select>
                        {{ form_widget(form.country) }}
                        {{ form_errors(form.country) }}
                    </div>

                    <div class="small-12 medium-6 large-6 columns">
                        <select id="select_{{ form.city.vars.id }}"
                                style="width: 100%;"
                                data-single-entry=true
                                onload="FlendocSelect2.buildSelect2AjaxElement(this, '{{ form.city.vars.id }}')"
                                data-placeholder="{% if userProfileDetails is not empty %}{{ userProfileDetails.cityName }}{% else %}{{ 'doctors.search.city'|trans }}{% endif %}"
                                data-url="{{ path('ajax_get_cities_from_country') }}">
                        </select>
                        {{ form_widget(form.city) }}
                        {{ form_errors(form.city) }}
                    </div>

                </div>
            </div>

            <div class="row right">
                <div class="small-12 medium-12 large-12 columns right-align">
                    {{ form_widget(form.save, {'attr': {'class': 'tiny radius _f-button-orange'}}) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>

    </div>
</div>
