{% block email_footer %}

	************************************************************************************************************

	&copy;, {{ "now"|date("Y") }} {{ app_defaults.company_name }}
    {{ app_defaults.company_address }}
    {{ 'doctors.contact.us'|trans }}: https://{{ baseUrl ~ path('doctors_contact_us_form') }}

	************************************************************************************************************

    {{ 'site.emails.manage.receiving.settings'|trans }}: https://{{ baseUrl ~ path('doctors_email_settings_overview') }}

{% endblock %}
