{% block email_header %}

    {{ 'site.default.title'|trans }}, {{ emailTitle }}

    ************************************************************************************************************

{% endblock %}
