{% extends constant('Flendoc\\AppBundle\\Constants\\AppConstants::USER_TYPE_ADMINS') == app.request.get('type') ? ':admin:admin_base.html.twig' : ':doctors:doctors_base.html.twig' %}

{% block body %}
    <div class="row _m-m-lr-0 _f-m-t-20">
        <div class="small-12 medium-12 large-12 columns">
            <h2 class="_f-underlined">{{ 'settings.general.account.settings'|trans }}</h2>
            <div class="row">

                {% if constant('Flendoc\\AppBundle\\Constants\\AppConstants::USER_TYPE_ADMINS') == app.request.get('type') %}

                    {{ include('@Admin/Settings/partials/_settings_menu.html.twig') }}
                {% else %}
                    {{ include('@Doctors/Settings/partials/_settings_menu.html.twig') }}
                {% endif %}

                {# start form #}
                <div class="small-12 medium-8 large-8 columns text-centered">
                    <div class="_f-centered-element">
                        <p class="_f-blue-text _f-condensed _f-underlined _f-fs-25 _f-p-b-0">{{ 'resetting.change.email'|trans }}</p>

                        {{ form_start(form) }}

                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}

                        <button class="_f-button-blue right">
                            {{ 'button.submit'|trans }}
                        </button>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
