{% extends ':doctors:doctors_base.html.twig' %}

{% block robots %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block body %}
    <div class="row _f-m-t-20">
        <div class="large-12 medium-12 small-12 column">
            <h2>{{ 'resetting.request.already.requested'|trans }}</h2>
            <p>{{ 'resetting.request.already.requested.details'|trans }}</p>
        </div>
    </div>
{% endblock %}
