{% extends constant('Flendoc\\AppBundle\\Constants\\AppConstants::USER_TYPE_ADMINS') == app.request.get('type') ? ':admin:admin_base.html.twig' : ':doctors:doctors_base.html.twig' %}

{% block robots %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-6 medium-6 small-12 column _f-p-t-30 large-centered medium-centered">
            <div class="row">
                <div class="column">
                    <h2>{{ 'resetting.request.forgot.password'|trans }}</h2>

                    <p>{{ 'resetting.request.forgot.password.content'|trans|nl2br }}</p>

                    {{ form_start(form) }}

                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}

                    <div class="_f-text-right">
                        {{ form_widget(form.submit) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
