{% extends ':doctors:doctors_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="large-6 medium-6 small-12 column _f-p-t-30 large-centered medium-centered">
            <div class="_f-centered-element">
                <h2>{{ 'resetting.reset.password'|trans }}</h2>

                <form action="{{ path('reset_password_action', {'type':app.request.get('type'), 'token': token}) }}"
                      method="POST"
                      novalidate="novalidate">

                    {{ form_row(form.plainPassword.first) }}

                    {{ form_row(form.plainPassword.second) }}

                    <button class="_f-button-orange right">
                        {{ 'button.submit'|trans }}
                    </button>

                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
